.profile__info {
    max-width: 336px;
    padding-left: 30px;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, min-content);
    justify-content: start;
    grid-gap: 16px 18px;
    grid-template-areas:
        "title edit-btn"
        "subtitle subtitle";
}

@media screen and (max-width: 1279px) {
    .profile__info {
        max-width: calc(282px + (336 - 282) * ((100vw - 320px) / (1280 - 320)));
        margin: 26px 0 30px;
        grid-gap: 7px 10px;
        text-align: center;
    }
}